.activity-card {
    background-color: var(--card-bg);
    border-radius: 0;
    overflow: hidden;
    /*transition: transform 0.3s ease, box-shadow 0.3s ease;*/
    border: 1px solid rgba(0,0,0,0.04);
}

/*@media (hover: hover) and (pointer: fine) {
    .activity-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    }

    .activity-content button:hover:not(:disabled) {
        background-color: rgba(0,0,0,0.04);
    }
}*/

.activity-card img {
    width: 100%;
    border-radius: 0;
}

/* card content */
.activity-content {
    padding: 1.5rem;
}

.activity-content h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.activity-content p {
    font-size: .95rem;
    line-height: 1.6;
    opacity: 0.8;
    margin-bottom: 1.2rem;
}

.activity-content button {
    background: none;
    border: none;
    padding: 0;
    font-size: 0.85rem;
    color: rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

/*.activity-content button:hover:not(:disabled) {
    background-color: rgba(0,0,0,0.04);
    transform: scale(0.96);
}*/

button.added {
    border-bottom-color: transparent;
    color: rgba(0,0,0,0.4);
    cursor: default;
}
